name: receipe
description: A Flutter recipe app
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  google_fonts: ^6.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
